<tr>
  <th scope="row"> <%= event_record.id %></th>
  <td><%= link_to event_record.event_type, event_path(event_record) %></td>
  <td><%= event_record.aggregate_id %></td>
  <td><%= event_record.sequence_number %></td>
  <td>
    <code>
      <%= event_record.event_json %>
    </code>
  </td>
</tr>
