<%= link_to "Aggregate:" + params[:aggregate_id], url_for(aggregate_id: nil), class: 'badge badge-secondary' if params[:aggregate_id] %>
<%= link_to "Stream: " + params[:stream_id], url_for(stream_id: nil), class: 'badge badge-secondary' if params[:stream_id] %>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> id</th>
      <th scope="col"> event_type</th>
      <th scope="col"> aggregate_id</th>
      <th scope="col"> sequence_number</th>
      <th scope="col"> event_json</th>
    </tr>
  </thead>

  <% @grouped_events.each do |command, events| %>
    <thead class="thead-light">
      <tr>
        <th colspan="4">
          <%= link_to command.command_type, command_path(command) %>
        </th>
        <th colspan="4">
          User: <%= command.user_id %>
        </th>
      </tr>
    </thead>
    <tbody class="events">
      <%= render collection: events, partial: 'event_record' %>
    </tbody>
  <% end %>
</table>
