<table class="table table-bordered">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Attribute</th>
      <th scope="col">Value</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row">Id</th>
      <td><%= @event.id %></td>
    </tr>

    <tr>
      <th scope="row">Type</th>
      <td><%= @event.event_type %></td>
    </tr>

    <tr>
      <th scope="row">Aggregate Id</th>
      <td><%= @event.aggregate_id %></td>
    </tr>

    <tr>
      <th scope="row">Sequence Number</th>
      <td><%= @event.sequence_number %></td>
    </tr>

    <tr>
      <th scope="row">Command</th>
      <td><%= link_to @event.command_record.command_type, command_path(@event.command_record) %></td>
    </tr>

    <tr>
      <th scope="row">JSON</th>
      <td>
        <code>
          <%= @event.event_json %>
        </code>
      </td>
    </tr>
  </tbody>
</table>

