<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Attribute</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">id</th>
      <td><%= @event.id %></td>
    </tr>

    <tr>
      <th scope="row">event_type</th>
      <td><%= @event.event_type %></td>
    </tr>

    <tr>
      <th scope="row">aggregate_id</th>
      <td><%= @event.aggregate_id %></td>
    </tr>

    <tr>
      <th scope="row">sequence_number</th>
      <td><%= @event.sequence_number %></td>
    </tr>

    <tr>
      <th scope="row">command_record_id</th>
      <td><%= @event.command_record_id %></td>
    </tr>

    <tr>
      <th scope="row">event_json</th>
      <td>
        <code>
          <%= @event.event_json %>
        </code>

      </td>
    </tr>

  </tbody>
</table>

